.tooltip {
    display: inline-block;
    position: relative;
}

.tooltip__trigger:hover ~ .tooltip__bubble {
    display: block;
}

.tooltip__bubble {
    display: none;
    padding: 12px 21px;
    border-radius: 10px;
    background-color: var(--black);
    color: var(--grey-2);
    text-align: center;
    font-family: "Inter";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    width: 129px;
    height: 45px;
    top: 100%;
    left: calc(50% + 8px);
    transform: translateX(-50%);
}

.tooltip__bubble::before {
    content: "";
    border: 10px solid transparent;
    position: absolute;
    border-bottom-color: aquamarine;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
}