.footer {
   background-color: #fff; 
   padding: 100px;
}

.footer__title {
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: var(--black);
    text-align: center;
}

.footer__text {
    font-size: 16px;
    font-weight: 400;
}