.burger-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(127, 127, 127, 0.2);
    transform: translateX(-100vw);
    transition: transform 250ms ease-in-out;
}

.burger-menu[data-open] {
    transform: translateX(0);
}

.burger-menu__button {
    background-color: transparent;
    border: 0;
}

.burger-menu__icon {
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
}

.burger-menu__logo {
    display: flex;
    justify-content: center;
}

.burger-menu__image {
    position: absolute;
    top: 0;
    width: 110px;
}

.burger-menu__content {
    margin: 32px 16px 72px;
    border-top: 1px solid var(--grey-2);
}

.burger-menu__title {
    font-family: "Inter";
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-3);
}

.burger-menu__list {
    font-family: "Inter";
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    list-style-type: none;
    padding: 0;
}

.burger-menu__link {
    text-decoration: none;
    color: var(--black);
}

.burger-menu__link:focus {
    color: #D84910;
}