.inputText {
    display: flex;
    max-width: 350px;
}
.inputText__text {
    height: 56px;
    border: 1px solid var(--grey-2);
    border-radius: 8px;
    padding-left: 24px;
    padding-right: 51px;
    font-family: "Inter";
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: var(--grey-4);
}

.inputText__text::placeholder {
    color: var(--grey-2);
}

.inputText__text:focus {
    border: 0;
    outline-color: #4263EB;
    transition: all 0.2s ease-in;
}

.inputText_success .inputText__text::placeholder {
    color: var(--grey-4);
}

.inputText__wrap {
    position: relative;
}

.inputText__icon {
    visibility: hidden;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 16px;
    top: 16px;
}

.inputText_success .inputText__icon {
    visibility: visible;
    stroke: #374FC7;
}

.inputText_invalid .inputText__text {
    border-color: #F03D3E;
}

.inputText_invalid .inputText__text:focus {
    outline-color: #F03D3E;
}

.inputText_invalid .inputText__icon {
    visibility: visible;
    stroke: #F03D3E;
}

.inputText_invalid .inputText__text::placeholder {
    color: var(--grey-4);
}